@rendermode InteractiveServer
@page "/AbonnementPage"
@using Microsoft.AspNetCore.Authorization
@inject IAbonnementService AbonnementService
@inject IAbonnementAchete AbonnementAcheteService
@inject AuthenticationStateProvider AuthenticationStateProvider

@inject NavigationManager NavManager

<PageTitle>Abonnement</PageTitle>






        <div class="dashboard-body">
            <!-- Breadcrumb Start -->
            <div class="breadcrumb mb-24">
                <ul class="flex-align gap-4">
                    <li><a href="/" class="text-gray-200 fw-normal text-15 hover-text-main-600">Accueil</a></li>
                    <li> <span class="text-gray-500 fw-normal d-flex"><i class="ph ph-caret-right"></i></span> </li>
                    <li><span class="text-main-600 fw-normal text-15">Plan Principaux</span></li>
                </ul>
            </div>
            <!-- Breadcrumb End -->

            <AbonnementComponent/>
        </div>







































