@using ELearningApp.Components.Pages.Abonnement

<div class="tab-pane fade" id="pills-plan" role="tabpanel" aria-labelledby="pills-plan-tab" tabindex="0">
    <AbonnementPageComponent />
</div>


@code {

}
