
<div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
    <div class="row gy-4">
        <div class="col-lg-6">
            <div class="card mt-24">
                @if (!string.IsNullOrEmpty(AuthenticatedUser.Bio))
                {
                <div class="card-body">
                    <h6 class="mb-12">About Me</h6>
                    <p class="text-gray-600 text-15 rounded-8 border border-gray-100 p-16">@AuthenticatedUser.Bio</p>
                </div>
                }
            </div>
            <div class="card mt-24">
                <div class="card-body">
                    <h6 class="mb-12">Recent Messages</h6>

                    <div class="rounded-8 border border-gray-100 p-16 mb-16">
                        <div class="comments-box__content flex-between gap-8">
                            <div class="flex-align align-items-start gap-12">
                                <img src="assets/images/thumbs/user-img1.png" class="w-32 h-32 rounded-circle object-fit-cover flex-shrink-0" alt="User Image">
                                <div>
                                    <h6 class="text-lg mb-8">Michel Smith</h6>
                                    <p class="text-gray-600 text-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo pellentesque massa </p>
                                </div>
                            </div>
                            <button type="button" class="flex-shrink-0 fw-bold text-13 text-main-600 flex-align gap-8 hover-text-main-800">Reply <i class="ph ph-arrow-bend-up-left d-flex text-lg"></i> </button>
                        </div>
                    </div>

                    <div class="rounded-8 border border-gray-100 p-16 mb-16">
                        <div class="comments-box__content flex-between gap-8">
                            <div class="flex-align align-items-start gap-12">
                                <img src="assets/images/thumbs/user-img5.png" class="w-32 h-32 rounded-circle object-fit-cover flex-shrink-0" alt="User Image">
                                <div>
                                    <h6 class="text-lg mb-8">Zara Maliha</h6>
                                    <p class="text-gray-600 text-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo pellentesque massa </p>
                                </div>
                            </div>
                            <button type="button" class="flex-shrink-0 fw-bold text-13 text-main-600 flex-align gap-8 hover-text-main-800">Reply <i class="ph ph-arrow-bend-up-left d-flex text-lg"></i> </button>
                        </div>
                    </div>

                    <div class="rounded-8 border border-gray-100 p-16 mb-16">
                        <div class="comments-box__content flex-between gap-8">
                            <div class="flex-align align-items-start gap-12">
                                <img src="assets/images/thumbs/user-img3.png" class="w-32 h-32 rounded-circle object-fit-cover flex-shrink-0" alt="User Image">
                                <div>
                                    <h6 class="text-lg mb-8">Simon Doe</h6>
                                    <p class="text-gray-600 text-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo pellentesque massa </p>
                                </div>
                            </div>
                            <button type="button" class="flex-shrink-0 fw-bold text-13 text-main-600 flex-align gap-8 hover-text-main-800">Reply <i class="ph ph-arrow-bend-up-left d-flex text-lg"></i> </button>
                        </div>
                    </div>

                    <div class="rounded-8 border border-gray-100 p-16 mb-16">
                        <div class="comments-box__content flex-between gap-8">
                            <div class="flex-align align-items-start gap-12">
                                <img src="assets/images/thumbs/user-img4.png" class="w-32 h-32 rounded-circle object-fit-cover flex-shrink-0" alt="User Image">
                                <div>
                                    <h6 class="text-lg mb-8">Elejabeth Jenny</h6>
                                    <p class="text-gray-600 text-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo pellentesque massa </p>
                                </div>
                            </div>
                            <button type="button" class="flex-shrink-0 fw-bold text-13 text-main-600 flex-align gap-8 hover-text-main-800">Reply <i class="ph ph-arrow-bend-up-left d-flex text-lg"></i> </button>
                        </div>
                    </div>

                    <div class="rounded-8 border border-gray-100 p-16 mb-16">
                        <div class="flex-between gap-8">
                            <div class="flex-align align-items-start gap-12">
                                <img src="assets/images/thumbs/user-img8.png" class="w-32 h-32 rounded-circle object-fit-cover flex-shrink-0" alt="User Image">
                                <div>
                                    <h6 class="text-lg mb-8">Ronald Doe</h6>
                                    <p class="text-gray-600 text-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo pellentesque massa </p>
                                </div>
                            </div>
                            <button type="button" class="flex-shrink-0 fw-bold text-13 text-main-600 flex-align gap-8 hover-text-main-800">Reply <i class="ph ph-arrow-bend-up-left d-flex text-lg"></i> </button>
                        </div>
                    </div>

                    <a href="#" class="flex-shrink-0 fw-bold text-13 text-main-600 flex-align gap-8 hover-text-main-800 hover-text-decoration-underline">
                        View All <i class="ph ph-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="card mt-24">
                <div class="card-body">
                    <h6 class="mb-12">Social Media</h6>
                    <ul class="flex-align flex-wrap gap-8">
                        <li>
                            <a href="https://www.facebook.com" class="flex-center w-36 h-36 border border-main-600 text-main-600 rounded-circle text-xl hover-bg-main-100 hover-border-main-800"><i class="ph ph-facebook-logo"></i></a>
                        </li>
                        <li>
                            <a href="https://www.google.com" class="flex-center w-36 h-36 border border-main-600 text-main-600 rounded-circle text-xl hover-bg-main-100 hover-border-main-800"> <i class="ph ph-twitter-logo"></i></a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com" class="flex-center w-36 h-36 border border-main-600 text-main-600 rounded-circle text-xl hover-bg-main-100 hover-border-main-800"><i class="ph ph-linkedin-logo"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com" class="flex-center w-36 h-36 border border-main-600 text-main-600 rounded-circle text-xl hover-bg-main-100 hover-border-main-800"><i class="ph ph-instagram-logo"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mt-24">
                <div class="card-body">
                    <div class="row gy-4">
                        <div class="col-xxl-4 col-xl-6 col-md-4 col-sm-6">
                            <div class="statistics-card p-xl-4 p-16 flex-align gap-10 rounded-8 bg-main-50">
                                <span class="text-white bg-main-600 w-36 h-36 rounded-circle flex-center text-xl flex-shrink-0"><i class="ph ph-users-three"></i></span>
                                <div>
                                    <h4 class="mb-0">450k</h4>
                                    <span class="fw-medium text-main-600">Followers</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-6 col-md-4 col-sm-6">
                            <div class="statistics-card p-xl-4 p-16 flex-align gap-10 rounded-8 bg-info-50">
                                <span class="text-white bg-info-600 w-36 h-36 rounded-circle flex-center text-xl flex-shrink-0"><i class="ph ph-users-three"></i></span>
                                <div>
                                    <h4 class="mb-0">289k</h4>
                                    <span class="fw-medium text-info-600">Following</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-6 col-md-4 col-sm-6">
                            <div class="statistics-card p-xl-4 p-16 flex-align gap-10 rounded-8 bg-purple-50">
                                <span class="text-white bg-purple-600 w-36 h-36 rounded-circle flex-center text-xl flex-shrink-0"><i class="ph ph-thumbs-up"></i></span>
                                <div>
                                    <h4 class="mb-0">1256k</h4>
                                    <span class="fw-medium text-purple-600">Likes</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-24">
                        @if (!string.IsNullOrEmpty(AuthenticatedUser.PhoneNumber)){
                        <div class="flex-align gap-8 flex-wrap mb-16">
                            <span class="flex-center w-36 h-36 text-main-600 bg-main-100 rounded-circle text-xl">
                                <i class="ph ph-phone"></i>
                            </span>
                            <div class="flex-align gap-8 flex-wrap text-gray-600">
                                <span>+@AuthenticatedUser.PhoneNumberCode @AuthenticatedUser.PhoneNumber</span>
                            </div>
                        </div>
                        }
                        <div class="flex-align gap-8 flex-wrap mb-16">
                            <span class="flex-center w-36 h-36 text-main-600 bg-main-100 rounded-circle text-xl">
                                <i class="ph ph-envelope-simple"></i>
                            </span>
                            <div class="flex-align gap-8 flex-wrap text-gray-600">
                                <span>@AuthenticatedUser.Email,</span>
                            </div>
                        </div>
                        @if (!string.IsNullOrEmpty(AuthenticatedUser.Adress)){
                        <div class="flex-align gap-8 flex-wrap mb-16">
                            <span class="flex-center w-36 h-36 text-main-600 bg-main-100 rounded-circle text-xl">
                                <i class="ph ph-map-pin"></i>
                            </span>
                            <div class="flex-align gap-8 flex-wrap text-gray-600">
                                <span>@AuthenticatedUser.Adress</span>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
            <div class="card mt-24">
                <div class="card-body">
                    <h6 class="mb-12">About Me</h6>
                    <div class="recent-post rounded-8 border border-gray-100 p-16 d-flex gap-12 mb-16">
                        <div class="d-inline-flex w-100 max-w-130 flex-shrink-0">
                            <img src="assets/images/thumbs/recent-post-img1.png" alt="" class="rounded-6 cover-img max-w-130">
                        </div>
                        <div>
                            <p class="text-gray-600 text-line-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo pellentesque massa tellus ac augue. Lectus arcu at in in rhoncus malesuada ipsum turpis.</p>
                            <div class="flex-align gap-8 mt-24">
                                <img src="assets/images/thumbs/user-img1.png" alt="" class="w-32 h-32 rounded-circle cover-img">
                                <span class="text-gray-600 text-13">Michel Bruice</span>
                            </div>
                        </div>
                    </div>
                    <div class="recent-post rounded-8 border border-gray-100 p-16 d-flex gap-12 mb-16">
                        <div class="d-inline-flex w-100 max-w-130 flex-shrink-0">
                            <img src="assets/images/thumbs/recent-post-img2.png" alt="" class="rounded-6 cover-img max-w-130">
                        </div>
                        <div>
                            <p class="text-gray-600 text-line-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo pellentesque massa tellus ac augue. Lectus arcu at in in rhoncus malesuada ipsum turpis.</p>
                            <div class="flex-align gap-8 mt-24">
                                <img src="assets/images/thumbs/user-img2.png" alt="" class="w-32 h-32 rounded-circle cover-img">
                                <span class="text-gray-600 text-13">Sara Smith</span>
                            </div>
                        </div>
                    </div>

                    <h6 class="mb-12 mt-24">Add New Post</h6>
                    <div class="editor style-two">
                        <div id="editorTwo">
                            <p>Write something new...</p>
                        </div>
                    </div>

                    <div class="flex-between flex-wrap gap-8 mt-24">
                        <div class="flex-align flex-wrap gap-8">
                            <button type="button" class="flex-center w-26 h-26 text-gray-600 bg-gray-50 hover-bg-gray-100 rounded-circle text-md">
                                <i class="ph ph-smiley"></i>
                            </button>
                            <button type="button" class="flex-center w-26 h-26 text-gray-600 bg-gray-50 hover-bg-gray-100 rounded-circle text-md">
                                <i class="ph ph-camera"></i>
                            </button>
                            <button type="button" class="flex-center w-26 h-26 text-gray-600 bg-gray-50 hover-bg-gray-100 rounded-circle text-md">
                                <i class="ph ph-image"></i>
                            </button>
                            <button type="button" class="flex-center w-26 h-26 text-gray-600 bg-gray-50 hover-bg-gray-100 rounded-circle text-md">
                                <i class="ph ph-video-camera"></i>
                            </button>
                            <button type="button" class="flex-center w-26 h-26 text-gray-600 bg-gray-50 hover-bg-gray-100 rounded-circle text-md">
                                <i class="ph ph-google-drive-logo"></i>
                            </button>
                        </div>
                        <button type="submit" class="btn btn-main rounded-pill py-9"> Post Now</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [CascadingParameter]
    public ApplicationUser? AuthenticatedUser { get; set; }
}
