

<div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
    <div class="row gy-4">
        <div class="col-lg-6">
            <div class="card mt-24">
                <div class="card-body">
                    <h6 class="mb-12">À propos de moi</h6>
                    <p class="text-gray-600 text-15 rounded-8 border border-gray-100 p-16">@AuthenticatedUser.Bio</p>
                </div>
            </div>
            <MessagesRecent AuthenticatedUser="AuthenticatedUser" />
            <div class="card mt-24">
                <div class="card-body">
                    <h6 class="mb-12">Réseaux sociaux</h6>
                    <ul class="flex-align flex-wrap gap-8">
                        <li>
                            <a href="https://www.facebook.com" class="flex-center w-36 h-36 border border-main-600 text-main-600 rounded-circle text-xl hover-bg-main-100 hover-border-main-800"><i class="ph ph-facebook-logo"></i></a>
                        </li>
                        <li>
                            <a href="https://www.google.com" class="flex-center w-36 h-36 border border-main-600 text-main-600 rounded-circle text-xl hover-bg-main-100 hover-border-main-800"> <i class="ph ph-twitter-logo"></i></a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com" class="flex-center w-36 h-36 border border-main-600 text-main-600 rounded-circle text-xl hover-bg-main-100 hover-border-main-800"><i class="ph ph-linkedin-logo"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com" class="flex-center w-36 h-36 border border-main-600 text-main-600 rounded-circle text-xl hover-bg-main-100 hover-border-main-800"><i class="ph ph-instagram-logo"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mt-24">
                <div class="card-body">
                    <div class="row gy-4">
                        <div class="col-xxl-4 col-xl-6 col-md-4 col-sm-6">
                            <div class="statistics-card p-xl-4 p-16 flex-align gap-10 rounded-8 bg-main-50">
                                <span class="text-white bg-main-600 w-36 h-36 rounded-circle flex-center text-xl flex-shrink-0"><i class="ph ph-users-three"></i></span>
                                <div>
                                    <h4 class="mb-0">450k</h4>
                                    <small class="fw-medium text-main-600">Abonnés</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-6 col-md-4 col-sm-6">
                            <div class="statistics-card p-xl-4 p-16 flex-align gap-10 rounded-8 bg-info-50">
                                <span class="text-white bg-info-600 w-36 h-36 rounded-circle flex-center text-xl flex-shrink-0"><i class="ph ph-users-three"></i></span>
                                <div>
                                    <h4 class="mb-0">289k</h4>
                                    <small class="fw-medium text-info-600">Abonnements</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-6 col-md-4 col-sm-6">
                            <div class="statistics-card p-xl-4 p-16 flex-align gap-10 rounded-8 bg-purple-50">
                                <span class="text-white bg-purple-600 w-36 h-36 rounded-circle flex-center text-xl flex-shrink-0"><i class="ph ph-thumbs-up"></i></span>
                                <div>
                                    <h4 class="mb-0">1256k</h4>
                                    <small class="fw-medium text-purple-600">J'aime</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-24">
                        <div class="flex-align gap-8 flex-wrap mb-16">
                            <span class="flex-center w-36 h-36 text-main-600 bg-main-100 rounded-circle text-xl">
                                <i class="ph ph-phone"></i>
                            </span>
                            <div class="flex-align gap-8 flex-wrap text-gray-600">
                                <span>+@AuthenticatedUser.PhoneNumberCode @AuthenticatedUser.PhoneNumber</span>
                            </div>
                        </div>
                        <div class="flex-align gap-8 flex-wrap mb-16">
                            <span class="flex-center w-36 h-36 text-main-600 bg-main-100 rounded-circle text-xl">
                                <i class="ph ph-envelope-simple"></i>
                            </span>
                            <div class="flex-align gap-8 flex-wrap text-gray-600">
                                <span>@AuthenticatedUser.Email,</span>
                            </div>
                        </div>
                        <div class="flex-align gap-8 flex-wrap mb-16">
                            <span class="flex-center w-36 h-36 text-main-600 bg-main-100 rounded-circle text-xl">
                                <i class="ph ph-map-pin"></i>
                            </span>
                            <div class="flex-align gap-8 flex-wrap text-gray-600">
                                <span>@AuthenticatedUser.Adress</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <MyPosts />


            <CreatePost />


        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public ApplicationUser? AuthenticatedUser { get; set; }

}