@inherits LayoutComponentBase

@inject IUserService UserService

<body>

    <!--==================== Preloader Start ====================-->
    <div class="preloader">
        <div class="loader"></div>
    </div>
    <!--==================== Preloader End ====================-->
    <!--==================== Sidebar Overlay End ====================-->
    <div class="side-overlay"></div>
    <!--==================== Sidebar Overlay End ====================-->
    <!-- ============================ Sidebar Start ============================ -->
    <NavMenu />
    <!-- ============================ Sidebar End  ============================ -->

    <div class="dashboard-main-wrapper">
        <NavTop AuthenticatedUser="AuthenticatedUser" />
        <CascadingValue Value="AuthenticatedUser">
            @Body
        </CascadingValue>
    </div>

    




    


</body>
@code {
    private ApplicationUser? AuthenticatedUser;

    protected override async Task OnInitializedAsync()
    {
        AuthenticatedUser = await UserService.GetAuthenticatedUserAsync();
    }
}