@inherits LayoutComponentBase


    <ToastContainer />

    <!--==================== Preloader Start ====================-->
    <div class="preloader">
        <div class="loader"></div>
    </div>
    <!--==================== Preloader End ====================-->
    <!--==================== Sidebar Overlay End ====================-->
    <div class="side-overlay"></div>
    <!--==================== Sidebar Overlay End ====================-->
    <!-- ============================ Sidebar Start ============================ -->
    <NavMenu />
    <!-- ============================ Sidebar End  ============================ -->

    <div class="dashboard-main-wrapper">
        <NavTop />
        <div class="dashboard-body">
            @Body
        </div>
    </div>

