@page "/ForgotPassword"
@layout Layout.MainLayoutAuhtentification
@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using ELearningApp.Components.Account
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using ELearningApp.Data
@using Microsoft.AspNetCore.Identity.UI.Services


@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject IEmailSender EmailSender


<PageTitle>Forgot your password?</PageTitle>
<div class="auth-left bg-main-50 flex-center p-24">
    <img src="assets/images/thumbs/auth-img1.png" alt="">
</div>
<div class="auth-right py-40 px-24 flex-center flex-column">
    <div class="auth-right__inner mx-auto w-100">
        <a href="/courses/etudiant/decouvrir" class="auth-right__logo">
            <img src="assets/images/logo/logo.png" alt="">
        </a>
        <h2 class="mb-8">Forgot Password?</h2>
        <p class="text-gray-600 text-15 mb-32">Lost your password? Please enter your email address. You will receive a link to create a new password via email.</p>

        <EditForm Model="Input" FormName="forgot-password" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <div class="mb-24">
                <label for="email" class="form-label mb-8 h6">Email </label>
                <div class="position-relative">
                    <InputText @bind-Value="Input.Email" type="email" id="email" class="form-control py-11 ps-40" placeholder="Type your email address" />
                    <span class="position-absolute top-50 translate-middle-y ms-16 text-gray-600 d-flex"><i class="ph ph-envelope"></i></span>
                    <ValidationMessage For="() => Input.Email" class="text-danger" />
                </div>
            </div>
            <button type="submit" class="btn btn-main rounded-pill w-100">Send Reset Link</button>

            <a href="/Login" class="my-32 text-main-600 flex-align gap-8 justify-content-center"> <i class="ph ph-arrow-left d-flex"></i> Back To Login</a>

            <ul class="flex-align gap-10 flex-wrap justify-content-center">
                <li>
                    <a href="https://www.facebook.com" class="w-38 h-38 flex-center rounded-6 text-facebook-600 bg-facebook-50 hover-bg-facebook-600 hover-text-white text-lg">
                        <i class="ph-fill ph-facebook-logo"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com" class="w-38 h-38 flex-center rounded-6 text-twitter-600 bg-twitter-50 hover-bg-twitter-600 hover-text-white text-lg">
                        <i class="ph-fill ph-twitter-logo"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.google.com" class="w-38 h-38 flex-center rounded-6 text-google-600 bg-google-50 hover-bg-google-600 hover-text-white text-lg">
                        <i class="ph ph-google-logo"></i>
                    </a>
                </li>
            </ul>

        </EditForm>
    </div>
</div>


@code {
    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    private async Task OnValidSubmitAsync()
    {
        var user = await UserManager.FindByEmailAsync(Input.Email);
        if (user is null || !(await UserManager.IsEmailConfirmedAsync(user)))
        {
            RedirectManager.RedirectTo("/ForgotPasswordConfirmation");
        }

        var code = await UserManager.GeneratePasswordResetTokenAsync(user);
        code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
        var callbackUrl = NavigationManager.GetUriWithQueryParameters(
            NavigationManager.ToAbsoluteUri("ResetPassword").AbsoluteUri,
            new Dictionary<string, object?> { ["code"] = code, ["email"] = Input.Email });

        var email = Input.Email;
        var subject = "Change Password";
        var htmlMessage = GenerateEmailResetPasswordMessage(HtmlEncoder.Default.Encode(callbackUrl));
        await EmailSender.SendEmailAsync(email, subject, htmlMessage);

        RedirectManager.RedirectTo("/ForgotPasswordConfirmation");
    }
    public string GenerateEmailResetPasswordMessage(string resetPasswordLink)
    {
        return $@"
    <html>
    <head>
        <style>
            body {{
                font-family: 'Arial', sans-serif;
                line-height: 1.6;
                color: #333;
                background-color: #f4f7fc;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }}
            .container {{
                max-width: 500px;
                background: #ffffff;
                padding: 30px;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }}
            .header {{
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 15px;
            }}
            .description {{
                font-size: 16px;
                color: #555;
                margin-bottom: 20px;
            }}
            .button {{
                display: inline-block;
                padding: 12px 20px;
                font-size: 16px;
                color: #fff;
                background-color: #1a73e8;
                text-decoration: none;
                border-radius: 5px;
                transition: background-color 0.3s;
                margin-bottom: 15px;
            }}
            .button:hover {{
                background-color: #135ab4;
            }}
            .footer {{
                margin-top: 20px;
                font-size: 14px;
                color: #888;
            }}
            .footer a {{
                color: #1a73e8;
                text-decoration: none;
            }}
            .footer a:hover {{
                text-decoration: underline;
            }}
        </style>
    </head>
    <body>
        <div class='container'>
            <div class='header'>Reset password</div>
            <div class='description'>A password change has been requested for your account. If this was you, please use the link below to reset your password.</div>
            <a href='{resetPasswordLink}' class='button'>Reset password</a>
            <div class='description'>If the button above doesn't work, <a href='{resetPasswordLink}'>Click here</a></div>
            <div class='footer'>
                <p>If you didn't forgot your password, please ignore this email.</p>
            </div>
        </div>
    </body>
</html>";
    }
    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";
    }
}
