@page "/InvalidPasswordReset"
@layout Layout.MainLayoutAuhtentification
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
<PageTitle>Invalid password reset</PageTitle>
<div class="auth-left bg-main-50 flex-center p-24">
    <img src="assets/images/thumbs/auth-img4.png" alt="">
</div>
<div class="auth-right py-40 px-24 flex-center flex-column">
    <div class="auth-right__inner mx-auto w-100">
        <a href="index.html" class="auth-right__logo">
            <img src="assets/images/logo/logo.png" alt="">
        </a>
        <h2 class="mb-8">Invalid password reset</h2>
        <p class="alert alert-danger">
            The password reset link is invalid.
        </p>
        <a href="/Login" class="btn btn-main rounded-pill w-100">click here to log in</a>
    </div>
</div>
@code{
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated ?? false)
        {
            // Redirect to the home page or another page
            Navigation.NavigateTo("/");
        }
    }
}