@page "/ResetPasswordConfirmation"
@layout Layout.MainLayoutAuhtentification

<PageTitle>Confirmation de la réinitialisation du mot de passe</PageTitle>
<div class="auth-left bg-main-50 flex-center p-24">
    <img src="assets/images/thumbs/auth-img1.png" alt="">
</div>
<div class="auth-right py-40 px-24 flex-center flex-column">
    <div class="auth-right__inner mx-auto w-100">
        <a href="/courses/etudiant/decouvrir" class="auth-right__logo">
            <img src="assets/images/logo/logo.png" alt="">
        </a>
        <h2 class="mb-8">Confirmation de la réinitialisation du mot de passe</h2>
        <p class="alert alert-success">
            Votre mot de passe a été réinitialisé.
        </p>
        <a href="/Login" class="btn btn-main rounded-pill w-100">Cliquez ici pour vous connecter</a>
    </div>
</div>