@page "/Account/AccessDenied"
@* @inject IdentityRedirectManager RedirectManager *@

<PageTitle>Access denied</PageTitle>

<header>
    <h1 class="text-danger">Access denied</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
@code {
    [Inject]
    private IdentityRedirectManager RedirectManager { get; set; }

    protected override async Task OnInitializedAsync()
    {
        RedirectManager.RedirectTo("/Login");
    }
}