@page "/Account/InvalidPasswordReset"

<PageTitle>Invalid password reset</PageTitle>

<h1>Invalid password reset</h1>
<p role="alert">
    The password reset link is invalid.
</p>
@code{
    [Inject]
    private IdentityRedirectManager RedirectManager { get; set; }

    protected override async Task OnInitializedAsync()
    {
        RedirectManager.RedirectTo("/Login");
    }
}