@page "/Account/ResetPasswordConfirmation"
<PageTitle>Reset password confirmation</PageTitle>

<h1>Reset password confirmation</h1>
<p role="alert">
    Your password has been reset. Please <a href="Account/Login">click here to log in</a>.
</p>
@code{
    [Inject]
    private IdentityRedirectManager RedirectManager { get; set; }

    protected override async Task OnInitializedAsync()
    {
        RedirectManager.RedirectTo("/Login");
    }
}